.page__saying {}

.container {}

.saying__body {
    display: flex;
    justify-content: space-between;
    padding-top: 89px;
}

.saying__item {}

.saying__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    color: #021526;
    max-width: 502px;
    margin-bottom: 22px;
}

.saying__title span {
    color: #0360D9;
}


.saying__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #2E2E2E;
    margin-bottom: 34px;
    max-width: 419px;
}

.saying__fotosman {
    display: flex;
    align-items: center;
}

.fotosmans__link {}

.fotosman__value {
    padding-left: 27px;
}

.value__item {
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #2E2E2E;
}

.saying__slaider {
    max-width: 50%;

}

.slader__item {}


.slader__box {
    padding: 49px 44px 75px 52px;
    background: #FFFFFF;
    border: 1px solid #A8A8A8;
    border-radius: 20px;
}

.slider__header {
    display: flex;
    justify-content: space-between;
}

.slader__img {}

.slider__name {
    display: flex;
    align-items: center;
}

.slider__names-name {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}



.slider__names {
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #2E2E2E;
}

.slider__data {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #2E2E2E;
}


.slider__star {
    display: flex;
    padding-right: 80px;
}

.slider__stars {}

.slider__box-body {}

.slider__box-text {
    padding-top: 52px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #2E2E2E;
    max-width: 494px;
}

.avatars {
    transform-style: preserve-3d;
}

.avatar {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
}

.avatar:not(:first-child) {
    margin-left: -60px;
    transform: rotateY(-1deg);
    /* and here */
}

.avatar img {
    width: 52%;
    display: block;
}

@media (max-width: 1114px) {
    .saying__body {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .saying__slaider {
        max-width: 100%;
    }

    .saying__item {
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 560px) {
    .slider__star {
        height: 44px;
        padding-right: 0;
    }

    .slider__box-text {
        font-size: 12px;
    }

    .slider__name {
        flex-direction: column;
    }

    .slider__header {
        flex-direction: column;
        align-items: center;
    }

    .saying__title {
        font-size: 32px;
    }

    .saying__fotosman {
        display: block;
        align-items: center;
    }

    .value__item {
        padding-top: 20px;
    }

    .avatar {
        width: 87px;
    }
}